In [52]:
#!/Users/yatingupta/env/bin/python
import sys
sys.path.append("/Users/yatingupta/Github/Reddit-flare-detector/env/lib/python3.7/site-packages")

In [11]:
#https://www.labnol.org/internet/web-scraping-reddit/28369/ [Can be used if more tha 1000 posts are required]

In [175]:
import praw
import pandas as pd
import matplotlib
import string

In [165]:
from sklearn import model_selection, preprocessing

In [54]:
my_client_id = "tlaYd7tsDOqvlQ"
my_client_secret = "xdRqwLkA07r8ScyJZTMsYUndrSA"
my_user_agent = "scrapping r/india"

In [140]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [55]:
reddit = praw.Reddit(client_id=my_client_id, client_secret=my_client_secret, user_agent=my_user_agent)
#https://github.com/reddit-archive/reddit/wiki/JSON

In [91]:
top_posts = []
india_subreddit = reddit.subreddit('India')
for post in india_subreddit.top(limit=1000):
    top_posts.append([post.title, post.score, post.id, post.subreddit, post.url, post.num_comments, post.selftext, post.created,post.link_flair_text])

In [90]:
hot_posts = []
india_subreddit = reddit.subreddit('India')
for post in india_subreddit.hot(limit=1000):
    hot_posts.append([post.title, post.score, post.id, post.subreddit, post.url, post.num_comments, post.selftext, post.created,post.link_flair_text])

In [92]:
new_posts = []
india_subreddit = reddit.subreddit('India')
for post in india_subreddit.new(limit=1000):
    new_posts.append([post.title, post.score, post.id, post.subreddit, post.url, post.num_comments, post.selftext, post.created,post.link_flair_text])

In [148]:
top_posts = pd.DataFrame(top_posts,columns=['title', 'score', 'id', 'subreddit', 'url', 'num_comments', 'body', 'created','flare'])
top_text_flare_data = top_posts[['id','title','body','flare']]
#print(text_flare_data)

In [149]:
hot_posts = pd.DataFrame(hot_posts,columns=['title', 'score', 'id', 'subreddit', 'url', 'num_comments', 'body', 'created','flare'])
hot_text_flare_data = hot_posts[['id','title','body','flare']]
#print(text_flare_data)

In [150]:
new_posts = pd.DataFrame(new_posts,columns=['title', 'score', 'id', 'subreddit', 'url', 'num_comments', 'body', 'created','flare'])
new_text_flare_data = new_posts[['id','title','body','flare']]
#print(text_flare_data)

In [151]:
top_text_flare_data.describe()

            id                             title body          flare
count      988                               988  988            987
unique     988                               988   66             35
top     debi1z  Spotted In Bombay Protests Today       Non-Political
freq         1                                 1  923            420

In [152]:
hot_text_flare_data.describe()

            id                                  title body        flare
count      785                                    785  785          767
unique     785                                    770  240           18
top     g0zk6q  Late Night Random Discussion Thread !       Coronavirus
freq         1                                      3  540          335

In [153]:
new_text_flare_data.describe()

            id                                  title body        flare
count      879                                    879  879          859
unique     879                                    861  277           18
top     fzvy9r  Late Night Random Discussion Thread !       Coronavirus
freq         1                                      4  596          375

In [161]:
frames = [top_text_flare_data, hot_text_flare_data, new_text_flare_data]
data = pd.concat(frames)
data.describe()

            id                                  title  body        flare
count     2652                                   2652  2652         2613
unique    1866                                   1848   343           40
top     g000ic  Late Night Random Discussion Thread !        Coronavirus
freq         3                                      7  2059          750

In [162]:
data.drop_duplicates(keep='last',inplace=True)
data.describe()
# Duplicate rows (2652-1886 == 766)

            id                                  title  body          flare
count     1866                                   1866  1866           1845
unique    1866                                   1848   343             40
top     fzvy9r  Late Night Random Discussion Thread !        Non-Political
freq         1                                      4  1517            552

In [163]:
data['flare'].value_counts()

Non-Political                       552
Politics                            420
Coronavirus                         419
AskIndia                            138
Photography                          49
Policy/Economy                       47
[R]eddiquette                        35
Business/Finance                     32
Sports                               30
Food                                 24
Science/Technology                   24
Unverified                           19
Scheduled                            10
CAA-NRC                              10
CAA-NRC-NPR                           4
r/all                                 3
| Repost |                            2
AMA                                   2
/r/all                                2
Demonetization                        2
Policy & Economy                      2
On Internet Shutdowns                 1
Misleading Headline                   1
Original Comics                       1
Misleading                            1
40 Martyrs                            1
Politics [Megathread]                 1
Lifehacks                             1
Announcement                          1
| Image Rule Violation |              1
Unverified - Opinion                  1
Entertainment                         1
Goal Achieved!!!                      1
Official Sadness Thread               1
Translation provided in comments      1
Zoke Tyme                             1
OC                                    1
Politics -- Source in comments        1
Policy/Economy -2017 Article          1
Totally real                          1
Name: flare, dtype: int64

In [179]:
data['text'] = data['title'].str.cat(data['body'], sep =" ")
data = data.mask(data.eq('None')).dropna()
data.describe()

,id,title,body,flare,text
count,1845,1845,1845,1845,1845
unique,1845,1829,338,40,1830
top,fzvy9r,Late Night Random Discussion Thread !,,Non-Political,Late Night Random Discussion Thread ! ^Beep ^B...
freq,1,4,1501,552,4

In [182]:
# split the dataset into training and validation datasets 
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(data['text'], data['flare'])

# label encode the target variable 
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

1383